@font-face {
  font-family: "YoungSerif";
  src: url('/assets/fonts/young-serif/YoungSerif-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}

@font-face {
  font-family: "Outfit";
  src: url('/assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
  font-weight: 400 600 700;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);
  --Brown-800: hsl(14, 45%, 36%);
  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);
  --font-young: 'YoungSerif';
  --font-outfit: 'Outfit';
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-outfit);
  background-color: var(--Stone-100);
  color: var(--Stone-900);
  font-size: 16px;
  display: flex;
  justify-content: center;
  min-height: 100dvh;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-young);
}

article {
  background: var(--White);
  max-width: 375px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-inline: 24px;
  padding-bottom: 32px;

  h1 {
    font-size: 36px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.025em;
  }

  p {
    font-size: 16px;
    line-height: 1.6;
    color: var(--Stone-600);
  }
}

.preparation-time {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--Rose-50);
  padding: 1.5rem 2rem;
  border-radius: 12px;

  h2 {
    font-family: var(--font-outfit);
    font-size: 20px;
    text-wrap: balance;
    color: var(--Rose-800);
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .5rem;

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      font-size: 18px;
      color: var(--Stone-600);
    }
  }
}

.ingredients {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h3 {
    font-size: 24px;
    font-weight: 400;
    color: var(--Brown-800);
    text-transform: capitalize;
    letter-spacing: 0.025em;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--Stone-600);
    font-size: 16px;

    li {
      display: flex;
      align-items: center;

      span {
        margin-right: 16px;
      }
    }
  }
}

.instruccions {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;

  h3 {
    font-size: 24px;
    font-weight: 400;
    color: var(--Brown-800);
    text-transform: capitalize;
    letter-spacing: 0.025em;
  }

  ol {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 1rem;

    li {
      color: var(--Stone-600);
      font-size: 16px;
      line-height: 1.6;
      text-wrap: balance;
      padding-left: 8px;

      &::marker {
        color: var(--Brown-800);
        font-weight: 700;
      }
    }
  }

}

.nutricion {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h3 {
    font-size: 24px;
    font-weight: 400;
    color: var(--Brown-800);
    text-transform: capitalize;
    letter-spacing: 0.025em;
  }

  p {
    color: var(--Stone-600);
  }

  table {
    margin: 0 auto;
    width: 100%;
    max-width: 375px;
    border-collapse: collapse;

    td {
      padding: 12px;
      text-align: left;
    }

    tr:not(:last-child) {
      border-bottom: 1px solid var(--Stone-150);
    }

    td:nth-child(1) {
      color: var(--Stone-600);
      font-weight: 400;
      letter-spacing: 0.025em;
      text-transform: capitalize;
      padding-left: 2rem;
    }

    td:nth-child(2) {
      font-weight: 700;
      color: var(--Rose-800);

    }

  }
}

@media (width >= 768px){
  article {
    max-width: 768px;
    margin: 5rem auto;
    padding: 2rem;
    border-radius: 20px;
    img {
      border-radius: 12px;
    }    
  }
  .content {
    padding-inline: 0;
  }
  .nutricion {
    table {
      width: 100%;
      max-width: 768px;
    }
  }
}

